body{
    background-color: #000000;
}
.shree{
    font-size: medium;
    font-size: 25px;
    color: orangered;
    text-align: center;
    margin: -18px;
    padding: 25px;
}
.navbar ul{
    color: black;
    padding: 25px 25px;
    background-color: #ffffffba;
    text-decoration: none;
    list-style: none;
    /* margin: 25px; */
    border-radius: 25px;
    width: 1457px;
}
.navbar li{
    /* padding: 3px 3px; */
    /* list-style: hover; */
    float: left;
    padding-left: 25px;
    padding-bottom: 2500px;
    /* margin: 25px 25px; */
    
}

